.notification {
    background-color: #40B5AD;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 26%;
    left: 96.5%;
 }